{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://earthquake.usgs.gov/fdsnws/event/1/"
    }
  ],
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/version": {
      "get": {
        "operationId": "version",
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        }
      },
      "parameters": []
    },
    "/catalogs": {
      "get": {
        "operationId": "catalogs",
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        }
      },
      "parameters": []
    },
    "/contributors": {
      "get": {
        "operationId": "contributors",
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        }
      },
      "parameters": []
    },
    "/application.wadl": {
      "get": {
        "operationId": "application.wadl",
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        }
      },
      "parameters": []
    },
    "/query": {
      "get": {
        "operationId": "query",
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "parameters": [
          {
            "name": "starttime",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedafter",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minlatitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": -90
            }
          },
          {
            "name": "maxlatitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": 90
            }
          },
          {
            "name": "minlongitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": -180
            }
          },
          {
            "name": "latitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "longitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "minradius",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "maxradius",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number",
              "default": 180
            }
          },
          {
            "name": "mindepth",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxdepth",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minmagnitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxmagnitude",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "magnitudetype",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeallmagnitudes",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeallorigins",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includearrivals",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "eventid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "orderby",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["time", "time-asc", "magnitude", "magnitude-asc"],
              "default": "time"
            }
          },
          {
            "name": "contributor",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["quakeml", "csv", "geojson", "kml"],
              "default": "quakeml"
            }
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmlcolorby",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["age", "depth"],
              "default": "age"
            }
          },
          {
            "name": "kmlanimated",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "eventtype",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewstatus",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["automatic", "reviewed"]
            }
          },
          {
            "name": "minmmi",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxmmi",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "mincdi",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxcdi",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minfelt",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "alertlevel",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["green", "yellow", "orange", "red", "*"],
              "default": "*"
            }
          },
          {
            "name": "mingap",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxgap",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minsig",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxsig",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "producttype",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "moment-tensor",
                "focal-mechanism",
                "shakemap",
                "losspager",
                "dyfi"
              ]
            }
          }
        ]
      },
      "parameters": []
    }
  }
}
